.wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:white;
    width: 300px;
    overflow-y: scroll hidden;
    max-height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.wrapper > h4{
    background-color: blue;
    margin: 0;
    padding: 20px;
}
.closeButton{
    position: absolute;
    top: 18px;
    right: 12px;
    background: transparent;
    border: unset;
    font-size: 18px;
    cursor: pointer;
}
.closeButton:hover{
    opacity: 0.5s;
}
.progressBar{
    width: 100%;
    height: 15px;
    background-color: lightgray;
    margin-bottom: 8px;
    border-radius: 20px;
}
.progressBar > div{
    height: 15px;
    background-color: green;
    border-radius:20px;
}
.wrapperItem {
    display: grid;
    grid-template-columns: calc(100%-50px) 50px;
    padding: 16px;
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
}
.progressBar{
    width: 100%;
    height: 15px;
    background-color: lightgray;
    margin-bottom: 8px;
    border-radius: 20px;
}
.percentage{
    margin-left: 12px;
}